@import '@/styles/theme.scss';

.title {
  font-size: $t3;
  color: $subtitle;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  height: 65px;
  padding-left: 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  .back {
    height: 15px;
    width: 15px;
    margin-right: 15px;
  }
}

.steptwo {
  width: 620px;
  align-self: center;
  margin-top: 40px;
}

.addform {
  padding-right: 30px;
  box-sizing: border-box;
}

.ticketspeclist {
  width: 100%;

  .addspec {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.spec {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  padding-left: 7%;
  box-sizing: border-box;
}

.spec_title {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  font-size: 12px;
  padding: 0 30px 0 145px;
  box-sizing: border-box;
  color: #000;
  width: 100%;
  span {
    width: 24%;
  }
  .proportion {
    padding-left: 5%;
  }
}

.btn {
  margin-left: 165px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.ticket_list{
  display: flex;
  padding: 0 0 0 145px;
  box-sizing: border-box;

  .percent {
    display: flex;
    align-items: center;
  }
}