@import '@/styles/theme.scss';

.new_bussiness {
  min-height: 800px;
  background: #fff;

}

.header {
  height: 54px;
  padding: 0 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
}

.back {
  margin-right: 15px;
  color: $subtitle;
  font-size: 14px;
}

.back:hover {
  color: $primary-color;
}

.title {
  color: $main-title;
  font-size: $t3
}

.bussiness_info {
  padding: 0 0 15px 32px;
  box-sizing: border-box;
  margin-top: 45px;
  // border-bottom: 1px solid #e9e9e9;
}

.bussiness_infotitle {
  color: $subtitle;
  font-size: $t3;
  margin-bottom: 20px;
}

.login_account {
  padding-left: 32px;
  box-sizing: border-box;
  margin-top: 45px;
}

.option {
  margin-top: 45px;
  padding: 0 0 45px 130px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.sumbit {
  margin-right: 10px;
}

.business_name {
  :global {

    .ant-form-explain,
    .ant-form-extra {
      color: $info-text
    }
  }
}

.business_info_form {
  :global {
    // .ant-form-explain, .ant-form-extra{
    //   color: $info-text
    // }

    .has-success.has-feedback .ant-form-item-children-icon {
      display: none;
    }

    .has-error.has-feedback .ant-form-item-children-icon {
      display: none
    }

    .ant-form-item-required::before {
      color: #fff;
    }
  }
}

.account_form {
  :global {
    // .ant-form-explain, .ant-form-extra{
    //   color: $info-text
    // }

    .has-success.has-feedback .ant-form-item-children-icon {
      display: none;
    }

    .has-error.has-feedback .ant-form-item-children-icon {
      display: none
    }

    .ant-form-item-required::before {
      color: #fff;
    }
  }
}

.avatar_uploader>.ant-upload {
  width: 100px;
  height: 102px;
}

.ant_upload_text {
  color: rgba(0, 0, 0, .65);
  margin-top: 10px;
}

.bussiness_profile {
  :global {
    .ant-form-item-label>label {
      color: rgba(0, 0, 0, .65)
    }
  }
}