@import '@/styles/theme.scss';

.refund-management {
  min-height: 800px;
  background: #fff;
}

.header {
  height: 64px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #e9e9e9;
}

.title {
  font-size: $t2;
  color: $main-title;
  font-weight: bold;
}

.export {
  font-size: $t4;
  color: $primary-color;
}

.screen {
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.refund-status {
  :global {
    .ant-tabs-ink-bar {
      background: #fff
    }

    .ant-tabs-bar {
      margin: 0 0 0 0;
      border: none;
    }

    .ant-tabs-nav .ant-tabs-tab {
      margin: 0 0 0 0;
    }
  }
}

.search {
  display: flex;
  align-items: center;
}

.search-business {
  :global {
    .ant-input-search-icon {
      color: $info-text
    }
  }
}