// 主色和辅色
$primary-color : #ff9212;  // 用于主要配色（控件，标题引导，按钮等）
$info-color    : #3f7df9;  // 用于一级页面可点击文字颜色以及功能状态显示文字颜色
$success-color : #0ed16b;  // 用于设备正常状态显示以及正确，成功按钮及文字颜色
$error-color   : #f5222d;  // 用于设备损坏状态显示以及错误提示和删除文字及按钮
$warning-color : #ffb619;  // 用于设备闲置状态显示

//  基础文字
$main-title  : #000;                    // 用于主标题和重要文字显示信息
$subtitle    : rgba(0, 0, 0, .85);      // 用于副文本（常规文本信息、单行列表标题文字）
$list-text   : rgba(0, 0, 0, .65);      // 用于列表文字、标签文字以及下拉框文字
$white       : #fff;                    // 用于图片或彩色背景上
$info-text   : rgba(0, 0, 0, .4);       // 用于详情页面信息展示的次要文字和输入框的提示文字

// 分割线
$dividing-line : #e8e8e8;         // 用于列表分割线

// 背景色
$card-background : #f0f2f5;       // 用于卡片间的背景色
$list-background : #f7f7f7;       // 用于列表标题的背景色

// 标准字
$t1 : 30px;                // 用于显示少数金额显示文字
$t1-line-height: 45px;     // t1行间距
$t2 : 20px;                // 用于头部标题，及个别重要分类名称
$t2-line-height: 30px;     // t2行间距
$t3 : 16px;                // 用于标签性文字
$t3-line-height: 24px;     // t3行间距
$t4 : 14px;                // 用于小标题，操作按钮，重要文案
$t4-line-height: 21px;     // t4行间距

// 按钮
// 除主要，次要，取消，删除按钮使用封装的BaseButton组件外，其余使用antd组件即可

// 控件

