$sider-menu-width: 240px; // 侧边栏菜单宽度
$page-bg: #F0F2F5; // 页面的最底层的背景颜色，大概是灰色那种，不是白色

// 已下内容具体看 UI 设计规范

// 主色&辅色。
$theme: #ff9212; // 用于主要配色(控件，标题引导，按钮等)
$assit-color: #3f7df9; // 用于一级页面可点击文字颜色以及功能状态显示文字颜色
$success: #0ed16b; // 用于设备正常状态显示以及正确，成功按钮及文字的颜色
$fail: #f5222d; // 用于设备损坏状态显示以及错误提示和删除文字及按钮
$warn: #ffb619; // 用于设备闲置状态显示

// 基础文字
$main-title: #000; // 主标题
$sub-title: rgba(#000, 0.85); // 副标题
$list-text: rgba(#000, 0.65); // 列表文字
$tip-text: rgba(#000, 0.4); // 提示文字
