.lineform {
  .station_list {
    padding-left: 60px;
    box-sizing: border-box;

    .addstation {
      display: flex;

      .otherstation {
        padding-left: 55px;
      }
    }
  }

  .ant-form-item {
    display: flex;
  }

  .ant-form-item-label {
    text-align: right;
    display: inline-block;
    overflow: hidden;
    line-height: 30px;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0;
  }
  
  .has-success.has-feedback .ant-form-item-children-icon {
    display: none;
  }

  .has-error.has-feedback .ant-form-item-children-icon {
    display: none
  }

  .dynamic-delete-button {
    cursor: pointer;
    font-size: 20px;
    color: #ff1b1b;
    transition: all 0.3s;
    margin-top: 10px;
    // margin-bottom: 25px;
    height: 20px;
  }

  .dynamic-delete-button:hover {
    color: #ff1b1b;
  }

  .dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}