@import '@/styles/theme.scss';

.header {
  display: flex;
  &__title {
    font-size: $t2;
    line-height: $t2-line-height;
    font-weight: 600;
    color: $main-title;
    margin-right: 30px;
  }
}